<div class="page-header">
  <%= link_to new_comic_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Comic
  <% end %>
    <h1>All Comics</h1>
</div>

<div class="table-responsive">
  <h2>Comics</h2>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @comics) do |comic| %>
        <td><%= comic.title %></td>
        <td><%= link_to 'Chapters', comic, class: "btn btn-info pull-right" %></td>
      <% end %>
    </tbody>
  </table>
</div>
