<h1>Ripper!</h1>

<table class="table table-striped">
  <tr>
    <th>TEST</th>
    <th>ROW</th>
  </tr>
<% (1..100).each do |i| %>
  <tr>
    <td>
      Hello World!
    </td>
    <td>
      <%= i %>
    </td>
  </tr>
  <% end %>
</tab>
